.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
}

.button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.filter {
  flex: 0 0 300px;
}
.resetFilters {
  flex: 0 0 auto;
}
