.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  @media (max-width: 500px) {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #dc2626;
  &:hover {
    text-decoration: underline;
  }
}
